/*Estilização para dispositivos mobile*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: "Be Vietnam Pro", sans-serif;
    --cor-de-letra: #ffffff;
    --cor-de-inputs: #111729;
    --button : #4036a3;
    --cor-section: #ffffff33;
    --border-radius: 15px;
}

*{
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after{
    box-sizing: border-box;
}

*::before{
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(to right, #4036a9, #b4436d);
}

header  > h1 {
    text-align: center;
    color: var(--cor-de-letra);
    position: relative;
    top: 30px;
}

header > p{
    text-align: center;
    color: var(--cor-de-letra);
    position: relative;
    top: 48px;
}

main > section{
    background-color: var(--cor-section);
    border-radius: var(--border-radius);
    position: relative;
    top: 33px;
    padding: 1em;
    margin: 4em auto;
    height: 580px;
    width: 360px;
}

main > section > label {
    color: var(--cor-de-letra);
    text-align: left;
}

main > section > p {
    text-align: center;
    margin: 0.3em;
}

main > section > p > input, select{
    font-family: var(--font);
    width: 348px;
    height: 45px;
    border-radius: var(--border-radius);
    margin: auto;
    position: relative;
    left: -1em;
}

textarea{
    width: 348px;
    height: 150px;
    border-radius: var(--border-radius);
    margin: auto;
    position: relative;
    left: -1em;
}

button{
    color: var(--button);
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 0.6em;
    border-radius: var(--border-radius);
    width: 348px;
    height: 55px;
    position: relative;
    left: -.7em;
}