/*Estilização para dispositivos mobile*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: "Be Vietnam Pro", sans-serif;
    --cor-de-letra: #ffffff;
    --cor-de-inputs: #111729;
    --button : #4036a3;
    --cor-section: #ffffff33;
    --border-radius-main: 15px;
    --border-radius: 10px;
}

*{
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after{
    box-sizing: border-box;
}

*::before{
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right, #4036a3, #b4436d);
}

header > h1{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    margin: 0.6em auto;
    padding: 0 1.5em;
}

header > p{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    padding: 1em;
    margin: auto;
    position: relative;
    top: -14px;
}

main > section > form {
    background-color: #ffffff33;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    max-width: 320px;
    height: auto;
    border-radius: var(--border-radius-main);
    overflow: hidden;
    position: relative;
    top: -15px;
}

main > section > form > label#nome, label#emaill, label#sizee,label#subjectt, label#messagee{
    color: #ffffff;
    margin: 0.8em 0.5em;
    position: relative;
    top: -0.3em;
}

main > section > form input#nome, input#email , select#size, select#subject{
    margin-left: 0.5em;
    padding: 0.4em;
    width: 306px;
    height: 3.6em;
    border-radius: var(--border-radius);
    border: none;
    position: relative;
    top: -1em;
}

main > section > form > p >textarea#message{
    margin-left: 0.5em;
    width: 306px;
    height: 8em;
    position: relative;
    top: -1em;
    border-radius: var(--border-radius);
}

main > section > form > p > button{
    color: var(--button);
    margin: 1.5em 0.5em;
    width: 306px;
    height: 50px;
    border-radius: var(--border-radius);
    border: none;
}

main > section > form > p > button:hover{
    color: #ffffff;
    background-color: #4036a3;
}